[submodule "external/LeanRAG"]
	path = external/LeanRAG
	url = https://github.com/mostlyharmless-ai/LeanRAG
[submodule "external/graphiti"]
	path = external/graphiti
	url = https://github.com/mostlyharmless-ai/graphiti
[submodule "docs/watercooler-planning"]
	path = docs/watercooler-planning
	url = git@github.com:mostlyharmless-ai/watercooler-planning.git
